@font-face {
  font-family: "Bebas-Neue";
  src: url('./assets/BebasNeue-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Homemade-Apple";
  src: url('./assets/HomemadeApple-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url('./assets/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

.cat-app {
  font-family: $font-family-base;
  margin: 50px;
  max-width: 800px;

  h1 {
    font-family: $font-family-heading;
    text-align: center;
    font-size: 60px;
  }

  &__content {
    display: flex;
    justify-content: space-between;   
    background-color: $cyan-light;
    border: 10px solid $black;

    aside {
      background-color: $cyan-light;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
    }
  }

  .button {
    border: 3px solid $cyan-dark;
    background-color: $cyan;
    font-family: $font-family-bebas;
    padding: 10px 60px;
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
    color: $white;
    margin: auto;
    margin-top: 40px;

    &:hover {
      background-color: $purple;
    }
  }

  .cat-image {
    height: 500px;
    width: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: background-image 5s;
        
    font-size: 40px;
    border: 10px solid $black;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
}