$green: #9DE0AD;
$lime: #E5FCC2;
$cyan-light: #CCDCDB;
$cyan: #45ADA8;
$cyan-dark: #547980;
$white: #FFFFFF;
$black: #000000;
$grey: #594F4F;
$purple: #C951FF;

$font-family-base: "Quicksand", sans-serif !default;
$font-family-heading: "Homemade-Apple", sans-serif !default;
$font-family-bebas: "Bebas-Neue", sans-serif !default;