$green: #9DE0AD;
$lime: #E5FCC2;
$cyan-light: #CCDCDB;
$cyan: #45ADA8;
$cyan-dark: #547980;
$white: #FFFFFF;
$black: #000000;
$gray: #2f2f2f;
$purple: #C951FF;

$spacing-x-small: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;
$spacing-x-large: 6rem;
$spacing-xx-large: 8rem;