$cyan: #83AF9B;
$green: #C8C8A9;
$beige: #F9CDAD;
$hotpink: #FE4365;
$pink: #FC9D9A;
$white: #FFFFFF;
$black: #000000;

$font-family-base: "Quicksand", sans-serif !default;
$font-family-heading: "Bebas-Neue", sans-serif !default;