.paws {
  display: flex;
  flex-direction: column;
  transform: rotate(45deg);
  margin-left: 40px;
  
  &__left {
    margin-left: 70px;
  }  
}

.paw {
  svg {
      height: 3rem;
      width: 3rem;
  }

  &__icon {
    fill: $purple;

    &--white {
      fill: $white;
    }
  }  
}