nav {
  display: flex;
  justify-content: center;
  padding: $spacing-x-small;
  background-color: $cyan-dark;

  margin-top: -0.3rem; // !?

  ul {
    list-style: none;
    display: flex;
    column-gap: $spacing-medium;

    li {
      a {
        font-weight: bold;
        font-size: 2.4rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}